# KSeF API Configuration
KSEF_BASE_URL=https://ksef-test.mf.gov.pl/api
KSEF_TOKEN=
KSEF_NIP=

# Insert CSV Configuration
INSERT_OUTPUT_DIR=./output
INSERT_CSV_DELIMITER=;
INSERT_CSV_ENCODING=win1250

# Logger
LOG_LEVEL=info
LOG_DIR=./logs
LOG_MAX_SIZE=10m
LOG_MAX_FILES=30
LOG_CONSOLE=true
LOG_FILE=true
